<header><h3>All Merchants</h3></header>

<table class='merchants'>
  <tr>
    <th>
      Name:
    </th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td><a href='/merchants/<%= merchant.id() %>'><%= merchant.name() %></a></td>
    <% end %>
  </tr>
</table>
