<header><h3>Create a New Merchant</h3></header>

<form class='merchant' action='/merchants' method='POST'>

  <label for='merchant-name'>Name</label>
  <input required type='text' id='merchant-name' name='name'>

  <input type="submit" value='Create Merchant'>

</form>
<br />

<header><h4>The following merchants already exist:</h4></header>

<%for merchant in @merchants%>
<p><%=merchant.name() %></p>
<% end %>
