<h3>Create a New Merchant</h3>

<form action='/merchants' method='POST'>

  <label for='merchant-name'>Name</label>
  <input required type='text' id='merchant-name' name='name'>

  <input type="submit" value='Create Merchant'>

</form>
