<header><h3>Merchant Details:</h3></header>

<p>Name: <%= @merchant.name() %></p>

<form action='/merchants/<%= @merchant.id %>/delete' method='POST'>
  <input type='submit' value='Delete Tag'>
</form>

<form action='/merchants/<%= @merchant.id %>/edit' method='GET'>
<input type='submit' value='Edit Tag'>
</form>

<article class='alert'><strong>Please note:</strong> if you delete this merchant,<br /> all transactions relating to this merchant will be deleted as well.</article>
