<h3> Here are all the budgets!</h3>

<table>
  <tr>
    <th>
      Tag type:
    </th>
    <th>
      Start Budget:
    </th>
    <th>Budget left:
    </th>

  </tr>
  <tr>
  <% for budget in @budgets %>
  <% for tag in @tags %>
  <% if budget.tag_id() == tag.id()%>
  <td><%= tag.type()%></td>
  <% end %>
  <% end %>
  <td>
    <a href='/budgets/<%= budget.id() %>'>
      <%= '%.2f' % budget.budget %>

    </a>
  </td>
  <td><%= '%.2f' % (budget.budget - budget.spent) %></td>

  </tr>

  <% end %>
</table>
