<h3>Create a New Budget</h3>

<form action='/budgets' method='POST'>

  <label for='budget-amount'>Amount</label>
  <input required type='text' id='budget-amount' name='budget'>

  <input type="submit" value='Create Budget'>

</form>
