<header><h3>Budget Details</h3></header>

<div class='budget' style='text-align: center;'>
  <p>Budget: <%= '%.2f' % @budget.budget() %> </p>
  <p>Tag: <%= @budget.tag().type() %></p>

  <form action='/budgets/<%= @budget.id %>/delete' method='POST'>
    <input type='submit' value='Delete Budget'>
  </form>

  <form action='/budgets/<%= @budget.id %>/edit' method='GET'>
    <input type='submit' value='Edit Budget'>
  </form>
</div>
