<h2>Here come the transactions!</h2>

<table>
  <tr>
    <th>Transactions</th>
    <th>Tag</th>
    <th>Merchant</th>
    <th>Transaction Date</th>
    <th>Amount</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
  </tr>
  <% end %>
</table>
