* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #E0E0E0;
  display: flex;
  justify-content:center;
  align-items: stretch;
  color: #465251;
  font-family: 'Catamaran', sans-serif;
  font-size: 0.9em;
}


@media all and (min-width: 768px),
(min-device-width: 1000px) {

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c5d6d5;
    min-width: 40em;

  }

  main header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
  }

  header {
    border: 1px solid #4d5453;
    border-radius: 5px;
    padding: 0 2em;
    background-color: #f5f7f7;
  }

  header a:hover, header a:active {
    text-shadow: 1px 1px 5px #3f4d4d;
  }
  header a{
    color: #465251;
  }

  html {
    background-color: #E0E0E0;
    display: flex;
    justify-content:center;
    align-items: stretch;
    color: #465251;
    font-family: 'Catamaran', sans-serif;
    height: 100%;
  }

  body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* height: 100%; */
    align-items: stretch;

  }

  nav {
    display: flex;
    align-items: flex-start;
    padding: 0.5em;
    background-color: #8fa19f;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }


  li a {
    display: flex;
    padding: 0.1em;
    background-color: #f5f7f7;
    border-radius: 3px;
    border: 1px solid #4d5453;
    color: #74807f;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
    margin: 0.2em 0;
    color: #74807f;
  }

  td a:hover, td a:active {
    text-decoration: none;
    margin: 0.2em 0;
    color: #3f4d4d;
    text-shadow: 1px 2px 5px #3f4d4d;
  }


  li a:hover{
    box-shadow: 1px 1px 3px 1px #4d5453;
    border-radius: 3px;
    color: #374241;
  }

  li a:active {
    box-shadow: 1px 1px 3px 1px #4d5453;
    border-radius: 3px;
    color: #374241;
    transform: translateY(0.1em);
  }




  input {
    background-color: #f5f7f7;
    border: 1px solid #4d5453;
    border-radius: 3px;
    padding: 0.1em;
    margin-top: 0.5em;
  }
  input:hover {
    background-color: #f5f7f7;
    box-shadow: 1px 1px 2px 1px grey;
    border: 1px solid #4d5453;
    border-radius: 3px;
    padding: 0.1em;
  }

  input:active {
    background-color: #f5f7f7;
    box-shadow: 1px 1px 2px 1px grey;
    border: 1px solid #4d5453;
    border-radius: 3px;
    padding: 0.1em;
    transform: translateY(0.1em);
  }



  select {
    background-color: #f5f7f7;
  }

  h1 {
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 4em;
  }

  h3 {
    font-family: 'Vast Shadow', cursive;
  }


  .filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0.2em;
    max-height: 10em;
    overflow: scroll;
  }
  .filter input {
    margin-right: 0.3em;
  }

  .transaction, .tag, .merchant, .budget {
    display: flex;
    flex-direction: column;
    border: 1px inset #4d5453;
    border-radius: 5px;
    background-color: #d8e3e1;
    padding: 1.0em 1.1em;
    margin-top: 1em;
  }

  label, option {
    margin: 0.2em 0;
  }







  tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .tr-table {
    display: flex;
    flex-direction: row;
    margin: 1em;

  }

  .top-section {
    display: flex;
    flex-direction: column;
  }
  /* section {
    flex-direction: column;
    /* align-items: center; */


  .alert{
    margin: 0.5em;
    align-items: center;
    /* border: 1px solid #cf4848; */
    color: #cf4848;
    text-align: center;
    font-weight: bolder;
  }

  table {
    border: 1px solid #4d5453;
  }
  td, th {
    padding: 0.2em;
  }

  .transactions, .tags, .merchants {
    margin-top: 1.5em;
    background-color: #d8e3e1;
    border-radius: 5px;
    text-align: left;
  }



}

/* CSS for smaller devices */

@media all and (max-width: 768px),
(min-device-width: 767px) and (max-device-width: 1000px)  {

  html {
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: #465251;
    font-family: 'Catamaran', sans-serif;
    font-size: 0.62em;
  height: 100%;
  }

  body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 -3em;
    max-width: 350px;

  }

  header {
    border: 1px solid #4d5453;
    border-radius: 5px;
    background-color: #f5f7f7;

  }
  main header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
    text-align: center;
    padding: 0.5em;
  }

  nav {
    display: flex;
    align-items: flex-start;
    padding: 0.7em;
    background-color: #8fa19f;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }


  li a {
    display: flex;
    padding: 0.1em;
    background-color: #f5f7f7;
    border-radius: 3px;
    border: 1px solid #4d5453;
    color: #74807f;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
    margin: 0.2em 0;

  }

  li a:hover{
    box-shadow: 1px 1px 3px 1px #4d5453;
    border-radius: 3px;
    color: #3f4d4d;
  }

  li a:active {
    box-shadow: 1px 1px 3px 1px #4d5453;
    border-radius: 3px;
    color: #3f4d4d;
    transform: translateY(0.1em);
  }

  h1 {
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 3em;
  }

  h3 {
    font-family: 'Vast Shadow', cursive;
    font-size: 1em;
  }


  .filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2em;
    max-height: 10em;
    overflow: scroll;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center; /* was center */
    background-color: #c5d6d5;
    padding: 1em;
  }



  .transaction, .tag, .merchant, .budget {
    display: flex;
    flex-direction: column;
    border: 1px inset #4d5453;
    border-radius: 5px;
    background-color: #d8e3e1;
    padding: 1.0em 1.1em;
    margin-top: 1em;
  }


  .tr-table {
    display: flex;
    flex-direction: column;
    margin: 1em;
    overflow:scroll;
  }

  .transactions, .tags, .merchants {
    margin-top: 1.5em;
    background-color: #d8e3e1;
    border-radius: 5px;
    text-align: left;
  }

  table {
    margin-top: 1.5em;
    background-color: #d8e3e1;
    border-radius: 5px;
    text-align: left;
  }

  table.transactions,   table.transactions thead,   table.transactions tbody, table.transactions th, table.transactions td, table.transactions tr {
    display:block;
    /* background-color: #c5d6d5; */
    width: 150px;
  }
/*
  table.transactions tr {
    border-bottom: 1px solid #4d5453;
  } */

  table.transactions thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table.transactions td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
  }


  table.transactions td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    /* top: 6px; */
    left: 6px;
    width: 60%;
    padding-right: 10px;
    white-space: nowrap;
  }

  table.transactions td:nth-of-type(1):before { content: "Tag"; }
  table.transactions td:nth-of-type(2):before { content: "Merchant"; }
  table.transactions td:nth-of-type(3):before { content: "Date"; }
  table.transactions td:nth-of-type(4):before { content: "Amount"; }
  table.transactions td:nth-of-type(5):before { content: "Budget left"; }
  td:nth-of-type(5):before { }

  td a:hover, td a:active {
    text-decoration: none;
    margin: 0.2em 0;
    color: #3f4d4d;
    text-shadow: 1px 2px 5px #3f4d4d;
  }

  input {
    margin-top: 2em;
  }
  input, select {
    background-color: #f5f7f7;
    border: 1px solid #4d5453;
    border-radius: 3px;
    padding: 0.05em;
    font-size: 0.65em;
  }
  input:hover {
    background-color: #f5f7f7;
    box-shadow: 1px 1px 2px 1px grey;
    border: 1px solid #4d5453;
    border-radius: 3px;
    padding: 0.05em;
    font-size: 0.65em;
  }

  input:active {
    background-color: #f5f7f7;
    box-shadow: 1px 1px 2px 1px grey;
    border: 1px solid #4d5453;
    border-radius: 3px;
    padding: 0.05em;
    font-size: 0.65em;
    transform: translateY(0.1em);
  }



  .filter input {
    margin-right: 0.3em;
  }
  .alert{
    margin: 0.5em;
    align-items: center;
    /* border: 1px solid #cf4848; */
    color: #cf4848;
    text-align: center;
    font-weight: bolder;
  }




  header a:hover, header a:active {
    text-shadow: 1px 1px 5px #3f4d4d;
  }
  header a{
    color: #465251;
  }
  a {
    text-decoration: none;
    margin: 0.2em 0;
    color: #74807f;
  }

  td a:hover, td a:active {
    text-decoration: none;
    margin: 0.2em 0;
    color: #3f4d4d;
    text-shadow: 1px 2px 5px #3f4d4d;
  }


  label, option, input {
    margin: 0.3em 0;
  }


  input {
    margin-top: 0.7em;
  }



}
