<header><h3>Here come the tags!</h3></header>

<table class='tags'>
  <tr>
    <th>Type</th>
    <th colspan="2">Merchants</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><a href="/tags/<%= tag.id() %>"><%= tag.type() %></a>
    </td>
    <% for merchant in tag.merchants() %>
    <td colspan="2">

      <%=merchant.name()%>
    </td>
    <% end %>


  </tr>
  <% end %>
</table>
