<header><h3>All Tags</h3></header>

<table class='tags'>
  <tr>
    <th>Type</th>
    <th colspan="2">Merchants</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><a href="/tags/<%= transaction.tag_id() %>"><%= transaction.tag.type() %></a>
    </td>
    <td colspan="2">

      <%=transaction.merchant.name()%>
    </td>


  </tr>
  <% end %>
</table>
