<header><h3>Create a New Tag</h3></header>

<form class='tag' action='/tags' method='POST'>

  <label for='tag-type'>Tag Type:</label>


  <input required type='text' id='tag-type' name='type' >



  <input type='submit' value='Create Tag'>


</form>
<br />

<header><h4>The following tags already exist:</h4></header>
<%for tag in @tags%>
<p><%=tag.type() %></p>
<% end %>
